@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Schedule" method="post">
    <input class="input-text" type="text" name="group" placeholder="Название группы">
    <input class="input-submit" type="submit" value="Показать расписание">
</form>
